torch
sentence-transformers
transformers
langchain
langchain-community
fastapi
uvicorn
pypdf
PyPDF2
jinja2
qdrant-client
ctransformers
python-multipart
aiofiles
langchain_core
huggingface_hub
langchain-qdrant
typing_extensions
click
